  body {
      margin: 3rem;
      padding: 0;
      font-family: sans-serif;
      text-align: center;
  }

  h1 {
      font-size: 4rem;
  }

  .value {
      font-size: 10rem;
  }

  .container{
    align-items: center;
    margin: 3rem;
  }